/* GENERALE */
*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 3000px;
}

.title, 
.second-section,
.third-section
{
    width: 77%;
    margin-inline: auto;
}

/* HEADER */
header{
    font-family: roboto;
    font-weight: 350;
    background-color:#ffc017 ;
    display: flex;
    align-items: center;
    height: 6rem;
    border-bottom: 1px solid rgb(53, 53, 53);
    position: relative;
}

header img{
    position: absolute;
    left: 13rem;
}

header div{
    position: absolute;
    right: 13rem;
}

header div a{
    text-decoration: none;
    font-family: roboto, sans-serif;
    font-weight: 400;
    color: rgb(31, 31, 31);
    margin-right: 2rem;
}
header div button{
    font-family: roboto, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: #191919;
    color: rgb(238, 237, 237);
    width: 8rem;
    height: 3rem;
    border:none;
    border-radius: 2rem;
}

/* MAIN */

/* FIRST SECTION */
.first-section{
    background-color:#ffc017; 
    height: 28.5rem;
    border-bottom: 1px solid rgb(53, 53, 53);
}

.position-container{
    position: relative;
}

.position-container img{
    position:absolute;
    right: -10px;
}

h1{
    font-family: Spectral, serif;
    font-weight: 400;
    font-size: 9rem;
    padding-top: 5rem;
    letter-spacing: -10px;
}

.title p{
    font-family:roboto, sans-serif;
    font-weight: 400;
    font-size: 1.9rem;
    margin-top: 2rem;
}

.first-section button{
    font-family: roboto, sans-serif;
    font-weight:400;
    font-size: 1.5rem;
    background-color: #191919;
    color: white;
    width: 17rem;
    height: 3rem;
    border-radius: 2rem;
    margin-top: 3rem;
}


/* SECOND SECTION */
.second-section{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10rem;

}

.trending{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    gap: 0.8rem;
}

.trending p{
    font-family: roboto, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
    margin-top: 1rem;
}

.articles span{
    font-family: roboto, sans-serif;
    font-size: 2.1rem;
    font-weight: 700;
    color: rgb(214, 213, 213);
}

.single-article{
    width: 25rem;
}
.round{
    border-radius: 50%;
    width: 25px;
}

.semi-round{
    border-radius: 30%;
    width: 25px;
}

h4{
    font-family: roboto, sans-serif;
    display: inline-block;
    font-size: 1 rem;
    font-weight: 500;
}

h3{
    font-family: roboto, sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom:1rem;
    line-height: 1.5rem;
}

.publication-date{
    display:flex;
    align-items: center;
    gap: 0.3rem;
}

.publication-date p{
    display: inline-block;
    font-family: roboto, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: gray;
}

.image-title{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.single-article{
    justify-content: space-evenly;
}

/* THIRD SECTION */
.third-section{
    display: flex;
    margin-top: 5rem;
}

.column-articles{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.single-column-article{
    display: flex;
    align-items: center;
    gap: 1rem;

}

.single-column-article div{
    width: 67%;
}


h2{
    font-family: roboto, sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.description{
    font-family: roboto, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: gray;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.publication-date p{
    margin-right: 1rem;
}

.publication-date{
    position: relative;
}

.context-image{
    width: 250px;
    height: 170px;
}

.bookmark{
    position: absolute;
    width: 30px;
    right: -11rem;
}
.link-correlati{
    margin-left: 4rem;
}

.link-correlati p{
    font-family: roboto, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
.link-type button{
    border:1px solid rgb(207, 205, 205);
    font-family: roboto, sans-serif;
    font-size: 1rem;
    color: gray;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 4px;
    margin-bottom: 2%;
}

.extra-link{
    display: flex;
    flex-wrap: wrap;
    max-width: 85%;
    margin-top: 5rem;

}
.extra-link a{
    text-decoration: none;
    color: gray;
    font-family: roboto, sans-serif;
    font-size: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;

    
}




